{% extends 'base.html' %}

{% load static sekizai_tags i18n %}

{% block content %}
  {% addtoblock "css" %}
      <link rel="stylesheet" type="text/css" href="{% get_media_prefix %}doc/docs.css">
  {% endaddtoblock %}

  <h1>{% block title %}{{ title }}{% endblock %}</h1>

  {{ content|safe }}

{% endblock %}

{% block finalfooter %}
  <p id="final-footer">
    <a href="unknown_url" title="{% trans "Documents Team" %}">Documents Team</a>
    <a>{% trans "Language" %}: '{{ lang }}'</a>
  </p>
{% endblock %}
