{% load i18n %}
<div class="modal-footer" id="attachment-draw" style="display: none;">
  <div class="card-pf-body" id="quota">
    <div class="progress-container progress-description-left progress-label-right">
      <div class="progress-description">Quota <span><strong>0 of 0.</strong> MB</span></div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped" style="width: 0%;" data-toggle="tooltip" title="0% Used">
        </div>
      </div>
    </div>
  </div>
  <table class="table table-striped" id="file_box">
    <tbody>
      <tr class="file row" id="file_template" style="display: none;">
        <th scope="row">
          <span class="glyphicon glyphicon-paperclip"></span> <span class="fn">$_filename</span>
        </th>
        <td>
          <div class="btn-group">
              <a href="#" class="btn btn-sm btn-default inline" title="{% trans "Toggle inline/attachment mode" %}"><span class="glyphicon"></span></a>
              <a href="#" class="btn btn-sm btn-danger delete" title="{% trans "Remove attachment" %}"><span class="glyphicon glyphicon-trash"></span></a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <hr/>
  <div class="alert alert-danger" id="attachment_not_found" style="display: none; text-align: left;">
    <span class="glyphicon glyphicon-exclamation-sign"></span> <strong>Nothing found!</strong> Searching yielded no results. Please try again!
  </div>
  <div class="alert alert-danger" id="attachment_error" style="display: none; text-align: left;">
    <span class="glyphicon glyphicon-exclamation-sign"></span> <strong>Error!</strong> <i>No error message</i>
  </div>
  <div class="row">
    <div class="input-group pull-left">
      <input type="text" class="input-sm form-control" placeholder="{% trans "Search for Existing Resource or Video URL" %}" id="resource_search">
      <span class="input-group-btn">
        <button id="resource_add" class="btn btn-sm btn-default" type="button"><span class="glyphicon glyphicon-search"></button>
        <input type="file" id="file_add" style="display: none;">
        <label for="file_add" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-upload"></span> {% trans "Upload File" %}</label>
      </span>
    </div>
  </div>
</div>
